.headingstyle {
  color: black;
  font-weight: bold;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.site-footer {
  background: #424242;
  border-top: 5px solid #00a0db;
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .site-footer {
    height: 100%;
  }
}
.flex{
  justify-content: center;
  
}