.fl{
   display: flex;
   justify-content: center;
   /* flex-direction: column; */
}

.container1{
   border: 5px solid gray;
  
   text-align: center;
  
}
.blackcolor{
  color: black;
  font-weight: 800;
}
.container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
input{
   width: 75%;
   min-width: 50%;
   
}
button{
   width: 75%;
}
.style1{
   color: black;
   font-weight: 200;
   font-size: 0.8rem;
}
.style2{
   font-size: large;
   color:black;
   font-weight: 700;
}
.style3{
   font-size: small;
   color: black;
   font-weight: 300;
}
.flex{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   /* background-color: red; */
   flex-wrap:wrap;
}
html, body {
   height: 100%;
 }
 .page-wrap {
   min-height: 100%;
   /* equal to footer height */
   margin-bottom: -142px; 
 }
 .page-wrap:after {
   content: "";
   display: block;
 }
 .site-footer, .page-wrap:after {
   height: 142px; 
 }
 .site-footer {
   background: #333;
 }
 div.ex1 {
   max-width: 800px;
   margin: auto;
   padding: 8px;
 }